.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}
  
  .atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
}
  
  
.pato{
    height: 150px;
    background-color: rgb(245, 135, 32);
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo{
    display: flex;
    margin-left: 10px;
   
}

#sobre{
    font-size: 20px;
    margin-right: 20px;
    font-family: "Atma";

}
#carrinho{
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 10;
    right: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#lista{
    text-align: center;
}
.nome{
    width: 202px;
    text-align: center;
    font-size: 22px;
}

.gerador{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 40px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.226);
}
.gerador p{
    color: white;
    visibility: hidden;
}
.botoes{
    
    margin-top: 20px;
}

.botoes button{
    cursor: pointer;
    background-color: rgb(255, 115, 0);
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-family: Atma;

}




#patin{
    width: 600px;
    height: 500px;
    
}

body{
    margin: 0;
    font-family: Atma;
    background-image: url("./1948406-tampo-da-mesa-de-madeira-para-exibicao-com-fundo-desfocado-do-restaurante-gratis-foto.jpg");
}

h1{
    color: white;
}



